<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}30 Days Of Python{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/mystyle.css">
</head>
<body>
    <header>
        <h1>30DaysOfPython</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/text_analyzer">Text Analyzer</a></li>
            </ul>
        </nav>
    </header>
    
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
